@import '../GlobalStyles/global.scss';

.container{
    @include wrapper(80%);
    padding-top: 4rem;
    font-weight: 500;
    line-height: 2;
    @include mediaQ(500px){
        padding-top: 9rem;
    }
    code{
        margin: 0 .4rem;
    }
}
